#dimensions input {
  width: 40px;
}

#text span {
  float: left;
}

#letters .container {
  height: 120px;
  clear: both;
}

#letters .container h2 {
  margin: 0 20px 0 0;
  width: 60px;
  height: 100px;
  line-height: 100px;
  font-size: 2em;
  float: left;
}

#letters .container input {
  width: 100px;
  font-size: 1.2em;
  height: 40px;
  float: left;
  margin: 30px 50px 30px 0;
}

#letters .container .colorwheel {
  margin: 0 40px 0 0;
  float: left;
}